
version: '3.8'
services:
  web:
    build: ./web
    ports:
      - "8080:8080"
    # By default, do not enable external network access. Users should run locally.
    networks:
      - internal
networks:
  internal:
    driver: bridge
